<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="stylesheets/register.css">
</head>
<body>
<div id="d1">
    <div id="header">
        <h1><img src="images/logo.png" alt=""></h1>
        <h2>与世界分享你的知识、经验和见解</h2>
    </div>
    <div id="content">
        <div id="navbar">
            <div>
                <div id="nav">
                    <a style="color: #0f88eb;" id="zhuce">注册</a>
                    <a id="denglu">登录</a>
                    <div id="bar" href="#"></div>
                </div>
            </div>

        </div>
        <div id="form1">
            <form action="">
                <input style="border-radius: 3px 3px 0 0;" id="name" type="text" placeholder="姓名"><br>
                <input style="border-bottom: none; border-top: none;" id="zhanghao" type="text" placeholder="手机号（仅支持中国大陆）"><br>
                <input style="border-bottom: none;" type="password" id="pwd" placeholder="密码（不少于 6 位）">
                <input style="border-radius: 0 0 3px 3px;" type="password" id="yzm" placeholder="验证码">
                    <button id="button" type="button">登录</button>

            </form>
                <buttton id="download">下载知乎App</buttton>
        </div>
        <div id="form2">
            <form action="">
                <input style="border-radius: 3px 3px 0 0;" id="name2" type="text" placeholder="手机号或邮箱"><br>
                <input style="border-bottom: none;border-top: none;" type="password" id="pwd2" placeholder="密码">
                <input style="border-radius: 0 0 3px 3px;" type="password" id="yzm2" placeholder="验证码">
                <button id="button2" type="button">注册知乎</button>
                <div class="remember">
                    <input type="checkbox" name="remember" id="check"><label for="check" style="margin-right: 166px;margin-left: 5px;-webkit-user-select: none">记住我</label>
                    <a href="#"><span>无法登陆?</span></a>
                </div>
                <div class="other">
                    <!--<div style="display: inline-block;height: 23px;">-->
                    <span class="shejiao" style=" display: inline-block;;margin-right:20px;margin-top: 0px;;-webkit-user-select: none">社交账号登录</span>
                    <!--</div>-->
                    <div class="qita">
                        <a href="#"><img src="images/微信.png"></a>
                        <a href="#"><img src="images/微博.png"></a>
                        <a href="#"><img src="images/QQ.png"></a>
                    </div>
                </div>
            </form>
            <buttton id="download">下载知乎App</buttton>
        </div>
    </div>
</div>
<div id="footer">
    <span>&copy; 2016 知乎</span>
    <span class="dot">·</span>
    <a target="_blank" href="/roundtable">知乎圆桌</a>
    <span class="dot">·</span>
    <a target="_blank" href="/explore">发现</a>
    <span class="dot">·</span>
    <a target="_blank" href="/app">移动应用</a>
    <span class="dot">·</span>
    <a href="/org/signin">使用机构帐号登录</a>
    <span>·</span>
    <a href="/contact">联系我们</a>
    <span class="dot">·</span>
    <a href="https://liukanshan.zhihu.com" target="_blank">刘看山</a>
    <span class="dot">·</span>
    <a target="_blank" href="/careers">来知乎工作</a>
    <span class="dot">·</span>
    <a href="http://www.miibeian.gov.cn/" target="_blank">京 ICP 备 13052560 号</a>
    <span class="dot">·</span>
    <span>京公网安备 11010802010035 号</span>
    <span class="dot">·</span>
    <span>北京智者天下科技有限公司</span>
</div>

<script src="javascripts/register.js"></script>
</body>
</html>